Source: ucc-management-integration
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 univention-management-console-dev,
 python2.6,
 python2.6-dev,
 python-support,
 ucslint,
 gettext
Standards-Version: 3.8.2

Package: ucc-management-integration
Architecture: all
Depends: python-univention-directory-manager-ucc, univention-corporate-client-schema
Description: Univention Corporate Client - integration in management system
 This package integrates Univention Corporate Client into the UCS management
 system.

Package: univention-corporate-client-schema
Architecture: all
Depends: python-univention-directory-manager-ucc
Description: Univention Corporate Client - LDAP schema
 This package provides the LDAP schema for the integration of Univention Corporate 
 Client into the UCS management system.

Package: python-univention-directory-manager-ucc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, shell-univention-lib
Provides: ${python:Provides}
Description: Univention Corporate Client - UDM module
 This package provides the Univention Directory Manager module for the integration 
 of Univention Corporate Client into the UCS management system.
