Source: ucc-management-integration
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 9),
 univention-config-dev,
 univention-management-console-dev,
 python-all-dev,
 python-support,
 ucslint-univention,
 gettext
Standards-Version: 3.8.2
XS-Python-Version: 2.6, 2.7

Package: ucc-management-integration
Architecture: all
Depends: python-univention-directory-manager-ucc, univention-corporate-client-schema
Description: Univention Corporate Client - integration in management system
 This package integrates Univention Corporate Client into the UCS management
 system.

Package: univention-corporate-client-schema
Architecture: all
Depends: univention-join,
 shell-univention-lib (>> 2.0.17-1.125)
Breaks: univention-ldap-server (<< 9.0.20-1.580.201303211526)
Recommends: python-univention-directory-manager-ucc
Description: Univention Corporate Client - LDAP schema
 This package provides the LDAP schema for the integration of Univention Corporate
 Client into the UCS management system.

Package: python-univention-directory-manager-ucc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, shell-univention-lib
Provides: ${python:Provides}
Description: Univention Corporate Client - UDM module
 This package provides the Univention Directory Manager module for the integration 
 of Univention Corporate Client into the UCS management system.
