Source: ucc-default-images
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 ucc-image-toolkit,
 ucslint

Package: ucc-thinclient-image
Architecture: all
Depends: ucc-1.0-rev2-thinclient-image
Description: Meta package for the UCC Thin Client Image
 This package provided the Default UCC Thin
 Client image.
 .
 It is part of Univention Corporate Client (UCC)
 For more information about UCC refer to:
 http://www.univention.de/

Package: ucc-1.0-rev2-thinclient-image
Architecture: all
Depends: ${misc:Depends},
 shell-univention-lib,
 python-univention-directory-manager-ucc,
 univention-corporate-client-schema, ucc-image-toolkit
Recommends: ucc-pxe-boot,
 ucc-management-integration,
 ucc-image-toolkit
Description: Default UCC Thin Client Image
 This package provided the Default UCC Thin
 Client image.
 .
 It is part of Univention Corporate Client (UCC)
 For more information about UCC refer to:
 http://www.univention.de/

Package: ucc-desktop-image
Architecture: all
Depends: ucc-1.0-rev2-desktop-image
Description: Meta package for the UCC Desktop Image
 This package provided the Default UCC Desktop image.
 .
 It is part of Univention Corporate Client (UCC)
 For more information about UCC refer to:
 http://www.univention.de/

Package: ucc-1.0-rev2-desktop-image
Architecture: all
Depends: ${misc:Depends},
 shell-univention-lib, ucc-image-toolkit
Recommends: ucc-pxe-boot,
 ucc-management-integration
Description: Default UCC Thin Client Image
 This package provided the Default UCC Thin
 Client image.
 .
 It is part of Univention Corporate Client (UCC)
 For more information about UCC refer to:
 http://www.univention.de/


