Source: ucc-pxe-boot
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 ucslint
Standards-Version: 3.5.5

Package: ucc-pxe-boot
Architecture: all
Depends: ${misc:Depends},
 shell-univention-lib (>= 1.0.6),
 univention-tftp,
 rsyslog-relp,
 syslinux,
Recommends: univention-dhcp,
 univention-nfs-server
Pre-Depends: univention-config-registry (>> 1.54-30)
Description: UCC - network boot infrastructure (PXE)
 The PreExecution Environment (PXE) allows for computers to
 boot from the network. No local storage is required. PXE
 is used to boot UCC and to install
 other computers.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
