Source: ucc-image-download
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.5.5
Build-Depends: debhelper (>> 7),
 ucc-image-toolkit,
 ucslint

Package: ucc-image-download
Architecture: all
Depends: ${misc:Depends}, shell-univention-lib
Description: Tool to download UCC images
 This tool can be used to download UCC images from either the
 official Univention download server or an alternative local
 mirror.
 .
 It is part of Univention Corporate Client (UCC)
 For more information about UCC refer to:
 http://www.univention.de/