#!/bin/sh
#
# Copyright (C) 2012-2016 Univention GmbH
#
# http://www.univention.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# Binary versions of this program provided by Univention to you as
# well as other copyrighted, protected or trademarked materials like
# Logos, graphics, fonts, specific documentations and configurations,
# cryptographic keys etc. are subject to a license agreement between
# you and Univention and not subject to the GNU AGPL V3.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.


# Copy this file to the initrd as /sbin/custom_partition normally with an custom ucc package.
# To test the script the following steps can be done:
#   initrd="ucc-1.0-thinclient-image.img.initrd"
#   mkdir -p /var/lib/univention-client-boot/initrd
#   cd /var/lib/univention-client-boot/initrd
#   cp ../${initrd} ../${initrd}.BACKUP
#   mv ../${initrd} ../${initrd}.gz
#   gunzip -c ../${initrd}.gz | cpio -id
#   rm ../${initrd}.gz
#   cp /usr/share/doc/ucc-image-toolkit/example/custom_partition.example sbin/custom_partition
#   chmod +x sbin/custom_partition
#   find . | cpio --create --format='newc' >../${initrd}
#   gzip ../${initrd}
#   mv ../${initrd}.gz ../${initrd}

# Get device
partition_device="$1"

. /scripts/functions
# Load keyboard drivers
modprobe i8042
modprobe atkbd

# Ensure the console is prepared for the user interaction
run_scripts /scripts/panic

echo "USE CUSTOM PARTITION SCRIPT"

# Create GPT
parted -s "${partition_device}" mklabel GPT
disk_size=$(/sbin/parted -s "${partition_device}" unit MB print | sed -ne "s|^Disk ${partition_device}: ||;s|MB$||p")
type="primary"

# Create partitions
parted -s "${partition_device}" mkpart "$type" "10" "60"
parted -s "${partition_device}" set 1 bios_grub on
parted -s "${partition_device}" mkpart "$type" "61" "161"
parted -s "${partition_device}" mkpart "$type" "162" "$disk_size"

# Create luks container
cryptsetup luksFormat "${partition_device}3"
 
# Open luks container
cryptsetup luksOpen "${partition_device}3" "crypt"
 
# Create PV
lvm pvcreate /dev/mapper/crypt
 
# Create volume group
lvm vgcreate vg_ucs /dev/mapper/crypt
 
# Get Free PE
## Example:
## Free PE / Size 8954 / 34.98 GB
size="$(lvm vgdisplay | grep "Free  PE" | awk '{print $5}')"

# Create logical volume
lvm lvcreate -l$size -n rootfs vg_ucs

# Create root filesystem
mkfs.ext4 /dev/mapper/vg_ucs-rootfs
 
# Create boot filesystem
/sbin/mkfs.ext4 "${partition_device}2"

# Mount the root filesystem
mkdir -p /ucc_tmp/root
mount /dev/mapper/vg_ucs-rootfs /ucc_tmp/root

# Mark device as root device
touch /ucc_tmp/root/ucc_root_device

# Create fstab file
echo "/dev/loop0    /   ext4   errors=remount-ro   0   1" >>/ucc_tmp/fstab
echo "${partition_device}2     /boot ext4 defaults    0   2" >>/ucc_tmp/fstab

# Copy files from the image to the boot partition
echo "${partition_device}2 ext4 /boot" >> /ucc_tmp/root/copy_files

# Create a script which sets set cryptopts in grub
cat >/ucc_tmp/root/customer.script <<__H1__
cat >/root/grub_append.sh <<'__H2__'
#!/bin/sh
ucr set grub/append="\$(ucr get grub/append) cryptopts=target=crypt,source=${partition_device}3,lvm=vg_ucs-rootfs"
__H2__
chmod +x /root/grub_append.sh
chroot root ./grub_append.sh
rm /root/grub_append.sh
__H1__

return 0

