#
# This configuration file contains the configuration used for building the official UCC thin client image
#
#

[General]
# System architecture, host uses the host architecture
arch: i386

# Ubuntu Codename of version
version: xenial

# Hostname of the client image
hostname: ucc

# Domain name of the client image
domainname: local

# Hash of user root
# univention → $6$haZB9aOW$Bprmq.8ZPpVR6c6VI0e1/H2aO5KOwCgqquwpv11r6OagavJomnTufU0WvqEt/xf.56uErUqQ5LZNYVn0XhW9x.
#  apt-get install whois
#  mkpasswd -H sha-512 univention
root_password: $6$haZB9aOW$Bprmq.8ZPpVR6c6VI0e1/H2aO5KOwCgqquwpv11r6OagavJomnTufU0WvqEt/xf.56uErUqQ5LZNYVn0XhW9x.

[Software]
# Ubuntu Mirror
mirror: http://ucc3-test.knut.univention.de/

# Use updates repository?
updates: true
# Use security repository?
security: true
# Use backports repository?
backports: false

# Use universe repository?
universe: true
# Use multiverse repository?
multiverse: true

# more sources.list repositories
sources_list:
 deb http://ucc3-test.knut.univention.de/maintained/component/ ucc-3.0/all/
 deb http://ucc3-test.knut.univention.de/maintained/component/ ucc-3.0/$(ARCH)/
 deb http://archive.canonical.com/ubuntu xenial partner

# These packages will be installed without recommends
packages_no_recommends:
 # Needed for the bootstrap of various packages, see https://forge.univention.org/bugzilla/show_bug.cgi?id=33782
 univention-ucc-bootstrap
 # Input Devices
 xserver-xorg-input-all
 # Video drivers
 xserver-xorg-video-ati
 xserver-xorg-video-amdgpu
 xserver-xorg-video-fbdev
 xserver-xorg-video-geode
 xserver-xorg-video-intel
 xserver-xorg-video-nouveau
 xserver-xorg-video-openchrome
 xserver-xorg-video-vesa
 xserver-xorg-video-vmware
 xserver-xorg-video-qxl
 xserver-xorg-video-savage
 xserver-xorg-video-siliconmotion
 univention-lightdm
 # gnome-icon-theme
 network-manager-gnome
 pulseaudio
 openssh-server
 univention-ucc-lxde
 univention-ucc-session-firefox
 univention-ucc-session-rdp
 univention-ucc-session-xenapp
 remmina-plugin-rdp
 language-pack-de
 univention-ucc-theme
 univention-corporate-client
 firefox-locale-de

# These packages will be installed
packages:
 linux-image-generic
 univention-ucc-grub
 icaclient
 ctxusb

# Set these packages to hold (no updates)
packages_hold:
 linux-image-generic

[Configuration]

# Set UCR variables in the UCC image
# interfaces/eth0/type: don't use the network manager for eth0
ucr_variables:
 interfaces/restart/auto=false
 lightdm/autologin=true
 hostname/uccprefix=ucc-
 interfaces/eth0/type=dhcp
 interfaces/restart/auto=true
 ucc/boot/mount=ro
 ucc/sysctl/dirtywritebackcentisecs=10
 ucc/sysctl/dirtyexpiredcentisecs=10
 ucc/thinclientoverlayfs=true
 lightdm/sessiondefault=LXDE
 ucc/mount=true

[Image]
# Version of image
version: 3.0

# Image size in GB
size: 1.80

# Filesystem of image
filesystem: ext4

# Name of output image
name: ucc-%(version)s-thinclient-image.img

# Extra kernel modules for the initrd
initramfs_modules:
 overlayfs
 aufs

# Kernel name
kernel: %(name)s.kernel

# Initrd name
initrd: %(name)s.initrd

# Build also an ISO image which can be used
# to roll out this UCC image via CD or USB stick
iso: %(name)s.iso

# Copy the UCC image into the ISO image
include_image_on_iso: true

[Partitioning]

# Device which should be partitioned, auto should determine a device
# Other examples hda, sda, ...
# At the moment only one device is supported
device: auto

# Prompt for continuation
continuation_prompt: true

# Continuation message header
continuation_message_top: Welcome to Univention Corporate Client!

# Continuation message (max 254 character)
continuation_message: 
 This Univention Corporate Client (UCC) image is configured to be installed
 on this computer. This will delete partitions and remove all data.
 For the partitioning the device @PARTITION_DEVICE@ has been selected.\n

# This dialog will be started when the
# system should be paritionied
continuation_dialog: Do you want to continue? (yes|no) 
continuation_dialog_yes: yes
continuation_dialog_no: no
continuation_dialog_error: Please insert yes or no

# List of partitions which should be removed, the devices all is also possible.
# auto will remove all partitions from the device which has been automatically 
# determined
# Use with care!
# remove_partitions: all
# remove_partitions: hda1
# hda2
remove_partitions: auto

# Let the first partition begin here (in MB)
partition_start: 10

# Partition defintions
#  partition<NUMBER>_name

#  # Size of the image, possible units MB and %. expand is also possible.
#  partition<NUMBER>_size

#  partition<NUMBER>_fs

#  partition<NUMBER>_mountpoint

#  # Mount this partition into the booted system by default
#  partition<NUMBER>_image_mount

#  # Copy files from the mounted image into the parttion, this is useful
#  # when the partition is mounted into the chroot system
#  partition<NUMBER>_copy_files

partition1_name: efi
partition1_size: 10
partition1_flags: bios_grub
partition1_image_mount: false
partition1_copy_files: false

partition2_name: boot
partition2_size: 100
partition2_fs: ext4
partition2_mountpoint: /boot
partition2_image_mount: true
partition2_copy_files: true

# partition3_name: swap
# partition3_size: 512
# partition3_fs: swap
# partition3_image_mount: true

partition3_name: root
partition3_size: expand
partition3_fs: ext4
partition3_mountpoint: /
partition3_image_mount: false

