#
# Conf file example for the UCC image creator
#
#

[General]
# System architecture, host uses the host architecture
arch: i386

# Ubuntu Codename of version
version: trusty

# Hostname of the client image
hostname: ucc

# Domain name of the client image
domainname: local

# Hash of user root
# univention → $6$haZB9aOW$Bprmq.8ZPpVR6c6VI0e1/H2aO5KOwCgqquwpv11r6OagavJomnTufU0WvqEt/xf.56uErUqQ5LZNYVn0XhW9x.
#  apt-get install whois
#  mkpasswd -H sha-512 univention
root_password: $6$haZB9aOW$Bprmq.8ZPpVR6c6VI0e1/H2aO5KOwCgqquwpv11r6OagavJomnTufU0WvqEt/xf.56uErUqQ5LZNYVn0XhW9x.

[Software]
# Ubuntu Mirror
mirror: http://de.archive.ubuntu.com/ubuntu

# Use updates repository?
updates: true
# Use security repository?
security: true
# Use backports repository?
backports: false

# Use universe repository?
universe: true
# Use multiverse repository?
multiverse: true

# more sources.list repositories
sources_list:
 deb http://192.168.0.10/build2/ ucs_3.2-0-ucc/all/
 deb http://192.168.0.10/build2/ ucs_3.2-0-ucc/$(ARCH)/
 deb http://ucc.software-univention.de/maintained/component/ ucc20-errata/all/
 deb http://ucc.software-univention.de/maintained/component/ ucc20-errata/$(ARCH)/
 # deb http://ucc.software-univention.de/maintained/component/ ucc/all/
 # deb http://ucc.software-univention.de/maintained/component/ ucc/$(ARCH)/
# deb http://archive.canonical.com/ubuntu precise partner
# deb-src http://archive.canonical.com/ubuntu precise partner

# These packages will be installed without recommends
# packages_no_recommends:

# These packages will be installed
packages:
 # Kernel
 linux-image-generic-pae
 # Grub
 univention-ucc-grub
 # Tools
# freerdp-x11
 openssh-server
 ## Desktop
 kubuntu-desktop modemmanager- whoopsie- kde-config-whoopsie- ofono-
 univention-lightdm
 language-pack-en
 language-pack-de
 language-pack-fr
 language-pack-es
 language-pack-nl
 language-pack-kde-de
 language-pack-kde-nl
 language-pack-kde-en
 language-pack-kde-fr
 language-pack-kde-es
 libreoffice-l10n-de
 libreoffice-l10n-nl
 libreoffice-l10n-fr
 libreoffice-l10n-es
 univention-ucc-theme
 univention-corporate-client
 univention-ucc-session-ucc
 univention-ucc-session-firefox
 univention-ucc-session-rdp
 language-pack-gnome-de
# default-jre
# adobe-flashplugin
# gstreamer0.10-ffmpeg 
# gstreamer0.10-fluendo-mp3
 ntpdate
 vim
 thunderbird

[Configuration]

# Set UCR variables in the UCC image
ucr_variables:
 lightdm/autologin=true
 hostname/uccprefix=ucc-
 interfaces/eth0/type=dhcp
 lightdm/autologin/session=UCC
 lightdm/sessiondefault=UCC
 ucc/mount=false

[Image]
# Version of image
version: 2.0-alpha2

# Image size in GB
# size: 0.5
size: 15.0

# Filesystem of image
filesystem: ext4

# Name of output image
name: ucc-%(version)s-desktop-image.img

# Extra kernel modules for the initrd
initramfs_modules:
 overlayfs
 aufs

# Kernel name
kernel: %(name)s.kernel

# Initrd name
initrd: %(name)s.initrd

# Build also an ISO image which can be used
# to roll out this UCC image via CD or USB stick
iso: %(name)s.iso

# Copy the UCC image into the ISO image
include_image_on_iso: false

[Partitioning]

# Device which should be partitioned, auto should determine a device
# Other examples hda, sda, ...
# At the moment only one device is supported
device: auto

# Prompt for continuation
continuation_prompt: true

# Continuation message header
continuation_message_top: Welcome to Univention Corporate Client!

# Continuation message (max 254 character)
continuation_message: 
 This Univention Corporate Client (UCC) image is configured to be installed
 on this computer. This will delete partitions and remove all data.
 For the partitioning the device @PARTITION_DEVICE@ has been selected.\n

# This dialog will be started when the
# system should be paritionied
continuation_dialog: Do you want to continue? (yes|no) 
continuation_dialog_yes: yes
continuation_dialog_no: no
continuation_dialog_error: Please insert yes or no

# List of partitions which should be removed, the devices all is also possible.
# auto will remove all partitions from the device which has been automatically 
# determined
# Use with care!
# remove_partitions: all
# remove_partitions: hda1
# hda2
remove_partitions: auto

# Let the first partition begin here (in MB)
partition_start: 10

# Partition defintions
#  partition<NUMBER>_name

#  # Size of the image, possible units MB and %. expand is also possible.
#  partition<NUMBER>_size

#  partition<NUMBER>_fs

#  partition<NUMBER>_mountpoint

#  # Mount this partition into the booted system by default
#  partition<NUMBER>_image_mount

#  # Copy files from the mounted image into the parttion, this is useful
#  # when the partition is mounted into the chroot system
#  partition<NUMBER>_copy_files

partition1_name: efi
partition1_size: 50
partition1_flags: bios_grub
partition1_image_mount: false
partition1_copy_files: false

partition2_name: boot
partition2_size: 500
partition2_fs: ext4
partition2_mountpoint: /boot
partition2_image_mount: true
partition2_copy_files: true

partition3_name: swap
partition3_size: 512
partition3_fs: swap
partition3_image_mount: true

partition4_name: root
partition4_size: 18000
partition4_fs: ext4
partition4_mountpoint: /
partition4_image_mount: false

partition5_name: home
partition5_size: expand
partition5_fs: ext4
partition5_mountpoint: /home
partition5_image_mount: true
partition5_copy_files: false

